<div id="Education" class="container">
    <h3 class="col-md-12 titolo text-center">Education</h3>
    <ul class="row">
        <li class=" col-md-4 titolo">START2IMPACT UNIVERSITY</li>
        <span class="col-md-8 data">Ott 2023-Set 2024</span>
        <p class="col-md-12 sottotitolo">Front-end-Developer</p>

        <li class=" col-md-4 titolo">I.T.C.P Giovanni Verga</li>
        <span class="col-md-8 data">Set 2017-Giugno 2022</span>
        <p class="col-md-12 sottotitolo">Amministrazione finanza e marketing</p>
    </ul>
</div>
