<div class="container-lg">
    <div class="row text-center">
        <h3>PORTFOLIO DI GAETANO ANZALDI</h3>

        <div class="col-md-12 social">
            <a target="_blank" href="https://www.linkedin.com/in/gaetano-anzaldi-46503832a/"><img width="50" height="50" src="https://img.icons8.com/ios/50/linkedin.png" alt="linkedin"/></a>
            <a target="_blank" href="https://www.instagram.com/tanoanzaldi/"><img width="50" height="50" src="https://img.icons8.com/ios/50/instagram-new--v1.png" alt="instagram-new--v1"/></a>
            <a target="_blank" href="https://github.com/TanoAnz"><img width="50" height="50" src="https://img.icons8.com/ios/50/github--v1.png" alt="github--v1"/></a>

        </div>
        <div class="col-md-6 text">Invia una mail a gaetano0310&#64;gmail.com</div>
        <div class="col-md-6">Copyright - Portfolio Tano 2023</div>
    </div>
</div>