<header class="header">
    <div class="col-md-3"><a href="index.html" ><img src="../../assets/images/favicon.png" alt="LOGO" class="logo"></a></div>
    <ul class="menu col-md-9">
        <li><a href="#Io" class="nav-item nav-link active">HOME</a></li>
        <li><a href="#Education" class="nav-item nav-link active">EDUCATION</a></li>
        <li><a href="#Project" class="nav-item nav-link">PROJECT</a></li>
        <li><a href="#footer" class="nav-item nav-link">CONTATTARMI</a></li>
    </ul>
</header>