<div id="Io" class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <img class="rounded img-fluid" src="../../assets/images/FOTO_MIA.png" alt="Una mia foto indentificativa" title="foto indentificativa">
            <p class="nome">GAETANO ANZALDI</p>
        </div>
        <div class="col-md-9 text-center text "><p> Appassionato del settore IT con uno spiccato interesse per la programmazione
 web e la creazione di web app. Posso contare su una conoscenza approfondita
 degli ambienti di sviluppo e linguaggi di programmazione di ultima generazione
 e sono in grado di produrre progetti in totale autonomia.</p></div>
    </div>
    <div class="row">
        <div class="col-md-12 nome text-center">skills</div>
        <div class="col-md-6 icone">
            <img width="50" height="50" src="https://img.icons8.com/ios/50/html.png" alt="html"/>
            <img width="50" height="50" src="https://img.icons8.com/ios/50/css.png" alt="css"/>
            <img width="50" height="50" src="https://img.icons8.com/ios/50/javascript--v1.png" alt="javascript--v1"/>
            <img width="50" height="50" src="https://img.icons8.com/ios/50/typescript.png" alt="typescript"/>
        </div>
        <div class="col-md-6 icone">
            <img width="50" height="50" src="https://img.icons8.com/ios/50/bootstrap.png" alt="bootstrap"/>
            <img width="50" height="50" src="https://img.icons8.com/ios/50/angularjs.png" alt="angularjs"/>
            <img width="50" height="50" src="https://img.icons8.com/ios/50/sass.png" alt="sass"/>
            <img width="50" height="50" src="https://img.icons8.com/ios/50/github--v1.png" alt="github--v1"/>
        </div>
    </div>
</div>
